* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url("../media/white-background.png");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 200px;
    cursor: pointer;
}

nav {
    flex: 1;
    padding-left: 130px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding-left: 5%;
}

nav ul li a {
    text-decoration: none;
    color: #63a4b3;
    font-size: 19px;
}

graph {
    position: absolute;
    margin-left: 31%;
    margin-top: 10%;
    margin-right: 30%;
}

graph h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #63a4b3;
}

graph ul li {
    display: inline-block;
    list-style: none;
    margin: 2px;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #a6dde9;
    font-size: 25px;
}

.graph-buttons {
    margin-top: 40%;
    margin-left: 43%;
    position: relative;
}

#new-graph {
    display: inline-block;
    background: #84458a;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    font-size: 20;
}

#search-random-int {
    display: inline-block;
    background: #e49ceb;
    margin: 2px;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    font-size: 20;
}

#search-linear-int {
    display: inline-block;
    background: #e49ceb;
    margin: 2px;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    font-size: 20;
}

.right {
    background: #9e5df3;
}

.left {
    background: #41cdec;
}

.middle {
    background: gold;
}

.found {
    background: rgb(0, 248, 12);
}

info {
    opacity: 1;
}

.algorithm-db {
    height: 500px;
    width: 20%;
    position: absolute;
    margin-top: 10%;
    margin-left: 3%;
    border-radius: 10px;
    background: blueviolet;
}

#algorithm-name {
    position: relative;
    font-size: 25px;
    font-weight: 100;
    color: #63a4b3;
}

#algorithm-info {
    position: relative;
    font-size: 20px;
    font-weight: 100;
    color: #63a4b3;
}

#search-algorithm {
    position: absolute;
    display: inline-block;
    background: #e49ceb;
    margin: 2px;
    bottom: 0px;
    right: 0px;
    padding: 5px 20px;
    border-radius: 6px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    font-size: 20;
}

#input-algorithm {
    position: absolute;
    color: #171717;
    font: 1em Hind, sans-serif;
    padding: 10px;
    bottom: 2;
    left: 2;
}