* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url("../media/white-background.png");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 200px;
    cursor: pointer;
}

nav {
    flex: 1;
    padding-left: 130px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding-left: 5%;
}

nav ul li a {
    text-decoration: none;
    color: #63a4b3;
    font-size: 19px;
}

graph {
    position: absolute;
    margin-left: 31%;
    margin-top: 10%;
    margin-right: 30%;
}

graph h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #63a4b3;
}

graph ul li {
    display: inline-block;
    list-style: none;
    margin: 2px;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    background: linear-gradient(200deg, #a6dde9, #2c7485);
    font-size: 25px;
}

.graph-buttons {
    margin-top: 40%;
    margin-left: 43%;
    position: relative;
}

#new-graph {
    display: inline-block;
    background: #84458a;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    font-size: 20;
}

#search-random-int {
    display: inline-block;
    background: #e49ceb;
    margin: 2px;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    font-size: 20;
}